/* * { transition: all 0.3s ease; } */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

table th, table td {
  padding: 0.5em 0.5em;
}

table pre {
  height: 10em;
  overflow: scroll;
}

table {
  text-align: right;
  min-width: 1000px;
}

th.updated {
  width: 275px;
}

tr:before {
  display: inline-block;
  line-height: 1;
  height: 1em;
  width: 1em;
  content: '○';
}
tr:first-child:before {
  content: '';
}

tr:hover:before {
  content: '📊';
}