/* * { transition: all 0.3s ease; } */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

table th, table td {
  /* padding: 0.2em 0em; */
}

table pre {
  height: 10em;
  overflow: scroll;
}

table {
  text-align: right;
}